force-app/main/default/flows/Medecin_Passage_Candidat_En_Attente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Status_PendingApproval</name>
        <label>Statut → En attente d&apos;Approbation (before-save)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.StatutCible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En attente d&apos;Approbation</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>End_Docs_Incomplete</name>
        <label>End — documents incomplets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_Flow_Terminator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>End_Fields_Incomplete</name>
        <label>End — champs incomplets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_Flow_Terminator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>End_RT_Not_Handled</name>
        <label>End — RT non géré</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_Flow_Terminator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Init_Docs_Flag</name>
        <label>Init indicateur documents OK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_Docs_All_Complete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Each_Required_Doc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Doc_Missing</name>
        <label>Marquer document manquant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_Docs_All_Complete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Each_Required_Doc</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>CustomError_Block_Advance</name>
        <label>Bloquer passage statut</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Impossible de passer à \&quot;En attente d&apos;Approbation\&quot; : documents obligatoires et/ou champs obligatoires manquants.</errorMessage>
            <fieldSelection>StatutCible__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_CV_Exists</name>
        <label>ContentVersion trouvé pour le libellé ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Each_Required_Doc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Document présent</defaultConnectorLabel>
        <rules>
            <name>CV_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CV_For_Label.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Doc_Missing</targetReference>
            </connector>
            <label>Version introuvable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_All_Docs_Complete</name>
        <label>Tous les documents obligatoires ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Which_RT_For_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Documents OK</defaultConnectorLabel>
        <rules>
            <name>Docs_Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Docs_All_Complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomError_Block_Advance</targetReference>
            </connector>
            <label>Documents incomplets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_From_Candidat</name>
        <label>Transition depuis Candidat ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>End_RT_Not_Handled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ne pas exécuter</defaultConnectorLabel>
        <rules>
            <name>From_Candidat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StatutCible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Candidat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Valid_Record_Type</targetReference>
            </connector>
            <label>Depuis Candidat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Valid_Record_Type</name>
        <label>Record Type géré ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CustomError_Block_Advance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autre RT</defaultConnectorLabel>
        <rules>
            <name>RT_Medecin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medecin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Required_MDT_Rows</targetReference>
            </connector>
            <label>Medecin</label>
        </rules>
        <rules>
            <name>RT_Avocat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avocat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Required_MDT_Rows</targetReference>
            </connector>
            <label>Avocat</label>
        </rules>
        <rules>
            <name>RT_Expert_RD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expert_RD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Required_MDT_Rows</targetReference>
            </connector>
            <label>Expert_RD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Which_RT_For_Fields</name>
        <label>Branche contrôle champs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CustomError_Block_Advance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fallback</defaultConnectorLabel>
        <rules>
            <name>Branch_Medecin_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medecin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Medecin_Fields</targetReference>
            </connector>
            <label>Medecin</label>
        </rules>
        <rules>
            <name>Branch_Avocat_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avocat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Avocat_Fields</targetReference>
            </connector>
            <label>Avocat</label>
        </rules>
        <rules>
            <name>Branch_Expert_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expert_RD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Expert_RD_Fields</targetReference>
            </connector>
            <label>Expert_RD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Avocat_Fields</name>
        <label>Champs obligatoires Avocat</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CustomError_Block_Advance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manque des champs</defaultConnectorLabel>
        <rules>
            <name>Avocat_All_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RIB__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IdentifiantFiscal__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Banque_Principale__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_PendingApproval</targetReference>
            </connector>
            <label>Tous remplis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Expert_RD_Fields</name>
        <label>Champs obligatoires Expert_RD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CustomError_Block_Advance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manque des champs</defaultConnectorLabel>
        <rules>
            <name>Expert_All_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RIB__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IdentifiantFiscal__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Banque_Principale__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssuranceRC__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_PendingApproval</targetReference>
            </connector>
            <label>Tous remplis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Medecin_Fields</name>
        <label>Champs obligatoires Médecin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CustomError_Block_Advance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manque des champs</defaultConnectorLabel>
        <rules>
            <name>Medecin_All_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CodeIBAN__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CodeINPE__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssuranceRC__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assermente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeMedecin__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SpecialiteMedecin__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Banque_Principale__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agence__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeCompteViremenAuto__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RIB__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IdentifiantFiscal__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_PendingApproval</targetReference>
            </connector>
            <label>Tous remplis</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Passage Candidat → En attente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medecin Passage Candidat En Attente</label>
    <loops>
        <name>Loop_Each_Required_Doc</name>
        <label>Boucle documents CMDT requis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>Var_Current_MDT</assignNextValueToReference>
        <collectionReference>Get_Required_MDT_Rows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_CV_For_Label</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_All_Docs_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CV_For_Label</name>
        <label>ContentVersion titre contient Label__c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CV_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstPublishLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Var_Current_MDT.Label__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Required_MDT_Rows</name>
        <label>CMDT DA_UploadFile requis pour ce RT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_Docs_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DA_UploadFile__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_From_Candidat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StatutCible__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En attente d&apos;Approbation</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_Current_MDT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DA_UploadFile__mdt</objectType>
    </variables>
    <variables>
        <name>Var_Docs_All_Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Flow_Terminator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
