force-app/main/default/flows/Soumettre_A_Approbation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Flow_End</name>
        <label>Fin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_Flow_Terminator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Init_Docs_Flag</name>
        <label>Init documents OK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_Docs_All_Complete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Each_Required_Doc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Doc_Missing</name>
        <label>Document manquant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_Docs_All_Complete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Each_Required_Doc</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Account_Found</name>
        <label>Compte trouvé ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Account_OK</name>
            <label>Oui</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Is_Candidat</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Candidat</name>
        <label>Statut Candidat ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Is_Candidat</name>
            <label>Oui</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.StatutCible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Candidat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Record_Type_Found</name>
        <label>Type d&apos;enregistrement chargé ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>RT_Query_OK</name>
            <label>Oui</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_RT_Handled</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_RT_Handled</name>
        <label>RT géré ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autre</defaultConnectorLabel>
        <rules>
            <name>RT_Medecin</name>
            <label>Medecin</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medecin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Medecin_Champs_OK</targetReference>
            </connector>
        </rules>
        <rules>
            <name>RT_Avocat</name>
            <label>Avocat</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avocat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Avocat_Champs_OK</targetReference>
            </connector>
        </rules>
        <rules>
            <name>RT_Expert_RD</name>
            <label>Expert_RD</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expert_RD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Expert_RD_Champs_OK</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Medecin_Champs_OK</name>
        <label>Médecin — champs obligatoires</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Medecin_Fields_OK</name>
            <label>Oui</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_Has_Any_Contact_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Name</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.BillingStreet</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.BillingCity</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.BillingPostalCode</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.BillingCountry</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.IdentifiantCommunEntrepriseICE__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.CodeIBAN__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.CodeINPE__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.NumeroCNSS__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Titulaire_de_Compte__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Banque_Principale__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.ModeVirement__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.RIB__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Agence__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.AssuranceRC__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.TypeCompteViremenAuto__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.IdentifiantFiscal__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.TypeMedecin__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.SpecialiteMedecin__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Assermente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Required_MDT_Rows</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Avocat_Champs_OK</name>
        <label>Avocat — champs obligatoires</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Avocat_Fields_OK</name>
            <label>Oui</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.Name</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.IdentifiantFiscal__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Numero_Barreau__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Barreau_d_appartenance__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Golden_Id__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Qualite__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Patente__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.IntituleCourtPrestataire__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Nom_Ville__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Required_MDT_Rows</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Expert_RD_Champs_OK</name>
        <label>Expert RD — champs obligatoires</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Flow_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Expert_RD_Fields_OK</name>
            <label>Oui</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_Has_Any_Contact_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Name</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Qualite__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.RepresentantLegal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.AssuranceRC__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Patente__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Numero_de_registre_de_commerce__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.MethodeDePaiement__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.RIB__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountRecord.Banque_Principale__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Required_MDT_Rows</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_CMDT_Label_OK</name>
        <label>Libellé CMDT renseigné ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Mark_Doc_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vide</defaultConnectorLabel>
        <rules>
            <name>Has_Label</name>
            <label>OK</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Current_MDT.Label__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
        <connector>
            <targetReference>Get_CV_For_Label</targetReference>
        </connector>
    </rules>
    </decisions>
    <decisions>
        <name>Decision_Doc_Found_Via_FPL</name>
        <label>Fichier trouvé (publié sur le compte) ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_CDL_For_Label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>CV_FPL_OK</name>
            <label>Oui</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CV_For_Label.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Each_Required_Doc</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Doc_Found_Via_CDL</name>
        <label>Fichier trouvé (lien sur le compte) ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Mark_Doc_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>CDL_OK</name>
            <label>Oui</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CDL_For_Label.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Each_Required_Doc</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_All_Docs_Complete</name>
        <label>Tous les docs requis ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Status_PendingApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oui</defaultConnectorLabel>
        <rules>
            <name>Docs_Incomplete</name>
            <label>Non</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Docs_All_Complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_End</targetReference>
            </connector>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Soumettre à Approbation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Soumettre à Approbation</label>
    <loops>
        <name>Loop_Each_Required_Doc</name>
        <label>Boucle docs CMDT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>Var_Current_MDT</assignNextValueToReference>
        <collectionReference>Get_Required_MDT_Rows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_CMDT_Label_OK</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_All_Docs_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <formulas>
        <name>fx_DocumentTitleContains</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Var_Current_MDT.NomDeFichier__c}), {!Var_Current_MDT.Label__c}, {!Var_Current_MDT.NomDeFichier__c})</expression>
    </formulas>
    <formulas>
        <name>fx_Has_Any_Contact_Email</name>
        <dataType>Boolean</dataType>
        <expression>OR(NOT(ISBLANK({!accountRecord.email_intmed__c})), NOT(ISBLANK({!accountRecord.Email__c})))</expression>
    </formulas>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StatutCible__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>email_intmed__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>IdentifiantCommunEntrepriseICE__c</queriedFields>
        <queriedFields>IdentifiantFiscal__c</queriedFields>
        <queriedFields>Numero_Barreau__c</queriedFields>
        <queriedFields>Barreau_d_appartenance__c</queriedFields>
        <queriedFields>Golden_Id__c</queriedFields>
        <queriedFields>Qualite__c</queriedFields>
        <queriedFields>Patente__c</queriedFields>
        <queriedFields>IntituleCourtPrestataire__c</queriedFields>
        <queriedFields>RepresentantLegal__c</queriedFields>
        <queriedFields>AssuranceRC__c</queriedFields>
        <queriedFields>Numero_de_registre_de_commerce__c</queriedFields>
        <queriedFields>MethodeDePaiement__c</queriedFields>
        <queriedFields>RIB__c</queriedFields>
        <queriedFields>Banque_Principale__c</queriedFields>
        <queriedFields>Titulaire_de_Compte__c</queriedFields>
        <queriedFields>Agence__c</queriedFields>
        <queriedFields>ModeVirement__c</queriedFields>
        <queriedFields>TypeCompteViremenAuto__c</queriedFields>
        <queriedFields>NumeroCNSS__c</queriedFields>
        <queriedFields>Assermente__c</queriedFields>
        <queriedFields>Nom_Ville__c</queriedFields>
        <queriedFields>CodeIBAN__c</queriedFields>
        <queriedFields>CodeINPE__c</queriedFields>
        <queriedFields>TypeMedecin__c</queriedFields>
        <queriedFields>SpecialiteMedecin__c</queriedFields>
        <storeOutputAutomatically>false</storeOutputAutomatically>
        <outputReference>accountRecord</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Record_Type_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Required_MDT_Rows</name>
        <label>CMDT docs requis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_Docs_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DA_UploadFile__mdt</object>
        <queriedFields>Label__c</queriedFields>
        <queriedFields>NomDeFichier__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CV_For_Label</name>
        <label>ContentVersion (publié sur le compte)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Doc_Found_Via_FPL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstPublishLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <elementReference>fx_DocumentTitleContains</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CDL_For_Label</name>
        <label>ContentDocumentLink (titre sur doc lié)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Doc_Found_Via_CDL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocument.Title</field>
            <operator>Contains</operator>
            <value>
                <elementReference>fx_DocumentTitleContains</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_PendingApproval</name>
        <label>Statut → En attente d&apos;Approbation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StatutCible__c</field>
            <value>
                <stringValue>En attente d&apos;Approbation</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Var_Current_MDT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DA_UploadFile__mdt</objectType>
    </variables>
    <variables>
        <name>Var_Docs_All_Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Flow_Terminator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
